PUBLIC_UBER_CLIENT_ID=
PUBLIC_SPOTREN_STATIC_MAP_URL=https://app.localhost:3443/api/public/spotren-sites/maps/static
PUBLIC_SPOTREN_BUILD_ORIGIN=http://localhost:4321
SPOTREN_BUILD_ALLOW_INSECURE_TLS=true
